- if (logged == false)
  p would you like to login? <a href='/login' title='login page'>Login</a> 

p #{logged}
- each post in posts
  div.post(style='position:relative')
    h3.title #{post.title}
    h4.author writen by: #{post.user}
    p.body #{post.body}
    p.date #{post.date}
    p.pid #{post.pid}
  <hr/>  
